.App {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
  border: 1px solid #bfbcfc;
  border-radius: 5px;
  padding: 50px;
  background-color: #d1d4ff;
  color: #424549;
}
.temperature {
  font-size: 100px;
}
.city {
  font-size: 20px;
  margin-bottom: 30px;
}
ul {
  list-style: none;
  padding: 20px;
}

.search-form-input {
  background-color: #f6f6ff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  width: 82%;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #bfbcfc;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.footer {
  font-size: 11px;
}

.details {
  color: #9470dc;
}
